@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #010101;
}

@font-face {
  font-family: Geist;
  src: url("/fonts/Geist/Geist-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .balance {
    text-wrap: balance;
  }
  .btn {
    @apply border-0;
  }
  .borderBox {
    @apply border-[1px] border-background hover:border-[#292929] transition-all duration-500;
  }
}

.tooltip:before {
  background-color: #010101;
  color: white;
}

.tooltip:after,
.tooltip-top:after {
  border-color: #010101 transparent transparent transparent;
}
