@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #010101;
}

@font-face {
  font-family: Geist;
  src: url("/fonts/Geist/Geist-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .balance {
    text-wrap: balance;
  }
  .btn {
    @apply border-0;
  }
  .borderBox {
    @apply border-[1px] border-background hover:border-[#292929] transition-all duration-500;
  }
}

.tooltip:before {
  background-color: #010101;
  color: white;
}

.tooltip:after,
.tooltip-top:after {
  border-color: #010101 transparent transparent transparent;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-wrap: balance;
}
