@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Geist;
  src: url("/fonts/Geist/Geist-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .balance {
    text-wrap: balance;
  }
}
